body{
	font-family: 'Open Sans', sans-serif;
}

/*CSS Reset*/
/*
	CSS Reset is to set the degault margin and padding of the webpage elements 
	into 0 to remove any default measurement assigned by the browser

	- box-sizing property defines how the width and height of an element are calculated
	- this will allow us to control the measurements of elements better
	- "border-box" value includes "padding" and "border" properties of an element to the total height
		and width in its computation
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	/*shorthand for 
	padding-top:0.8rem
	padding-bottom:0.8rem
	padding-right:0.8rem
	padding-left:0.8rem

	if padding only, all 4sides are automatically the value
	*/

	/* rem stands for root element measurement - default is 16px if not modified using CSS	
		i.e. 0.8rem = 12.8px padding of all sides of the nav
	*/

	padding: .8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}

/*margin vs padding*/
/*margin is best used when creating space between elements.*/
/*padding is best used when creating space between an element's border and it's content.*/

nav .nav, nav .nav-logo {
	margin: .5rem;
	/* Inline keeps all the element on a single line */
	display:inline;
}

#intro {
	/* x% - takes x% of the parent element's height/width */

	/*	
		padding-top: 2rem
		padding-right: 10%
		padding-left: 10%
		padding-bottom: 3rem
	*/
	padding: 2rem 10% 3rem;
	text-align: center;

	/*	if 4
		padding: 2rem 10% 3rem 5rem;
		padding-top: 2rem
		padding-left: 10%
		padding-bottom: 3rem
		padding-right: 5rem
	*/

	/* if 2
		padding: 2rem 10%;
		2 rem: top and bottom
		10%: left and right
	*/
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	font-size: 1rem;
	border-radius: 25px;
	padding: 1rem;
}

#succeed-info {
	padding: 2rem 10% 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	/* allows the cards to appear beside each other */

	/* elements are inline to their sibling elements but behaves as block of elements outside their parent element */
	display: inline-block;

	/* where to align the elements of the div vertically */
	vertical-align: top;

	/* allows cards to have equal height should they have different content lengths */
	min-height: 175px;

	/* we used only 30% of the parent element to avoid overflowing of the element that can lead to horizontal scrolling */
	width: 30%;
	margin-left: .5rem;
	margin-right: 0.5rem;
}

footer {
	padding: 0.7 rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	margin-top: 1rem;
}

#pre-footer {
	background-color:#051943 ;
	color: white;
}

#pre-footer .closing_bottom {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width:20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 0.7rem;
/*	margin-bottom: 1rem;*/
}